<h2>My Heroes</h2>

<ul class="heroes">

    <!-- (before creating router link for each hero element)-->
    <!-- <li *ngFor = "let hero of heroes" 
        (click)="onSelect(hero)" 
        [class.selected]="hero===selectedHero">
        <span class="badge">{{hero.id}}</span> {{hero.name}}
    </li> -->
    <li *ngFor = "let hero of heroes">
        <a routerLink="/detail/{{hero.id}}">
            <span class="badge">{{hero.id}}</span> {{hero.name}}
        </a>
    </li>

</ul>

<!-- Pass the selectedHero to the child component as hero variable -->
<!-- Directly import the hero detail html component here by calling the selector-->
<!-- <app-hero-detail [hero]="selectedHero"></app-hero-detail> -->
